*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.firebaserc
functions/lib/
firebase-debug.log
firestore-debug.log

# Firebase debug logs
firebase-debug.log
database-debug.log
/androidApp/google-services.json
/iosApp/iosApp/GoogleService-Info.plist
/iosApp/GoogleService-Info.plist
