<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ENVIRONMENT</key>
	<string>$(FIREBASE_ENVIRONMENT)</string>
	<key>USE_FIREBASE_EMULATOR</key>
	<string>$(USE_FIREBASE_EMULATOR)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
